@media (min-width: 320px) and (max-width: 425px) {
  header {
    background-size: 100% 100%;
    margin-bottom: 0;
  }
  .navigation-header {
    margin-bottom: 150px;
    padding: 20px 0;
  }
  a img {
    max-width: 240px;
  }
  h1 {
    font-size: 40px;
  }
  button {
    font-size: 16px;
  }
  .subtitle {
    padding: 0;
  }
  .nav-linkHeader a {
    padding: 0;
  }
  .support-block h2 {
    padding-top: 50px;
  }
  .team img {
    display: none;
  }
  #gallery img{
    min-height: 180px;
    height: 50%;
  }
}

@media (max-width: 768px) {
  .subtitle {
    padding: 0 140px 0 0;
  }
  ul li {
    margin: 14px auto;
    padding: 0 20px;
    max-width: 190px;
    width: 100%;
    justify-content: center;
  }
  p,
  .helps-block p,
  .team p,
  .joinTeam {
    padding: 0 0 0 10px;
    font-size: 14px;
    margin-bottom: 10px;
  }

  .team {
    padding: 26px 0;
    min-height: 630px;
  }

  .title-block {
    padding-bottom: 30px;
  }

  .team img {
    width: 60%;
  }
  h2,
  .joinTeam h2,
  h2 span {
    font-size: 26px;
  }
  h5 {
    margin: 0 0 30px;
  }
  h2,
  .joinTeam h2,
  h2 span {
    font-size: 26px;
  }
  .slider {
    margin: 0;
  }
  #gallery {
    max-height: 420px;
    height: 100%;
    width: 70%;
  }

  #gallery img{
    min-height: 200px;
    height: 70%;
  }

}

@media (min-width: 769px) and (max-width: 1200px) {
  .subtitle {
    padding: 0 550px 0 0;
  }
  h2,
  .joinTeam h2,
  h2 span {
    font-size: 32px;
  }
  .joinTeam p,
  .joinTeam-text {
    padding: 0;
    font-size: 16px;
    margin-bottom: 10px;
  }
}
